/* Colors */
:root {
    --primary-color: #12F7D6;
    --secondary-color: #2ecc71;
    --brand-two-color: #98FAEC;
    --danger-color: #e74c3c;
    --background-color: #292F36;
    --background-two-color: #1A1E23;
    --text-color: #fff;
    --grey-color: #43454D;
  }
  
  /* Spacing */
  :root {
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
  }
  